/* CSS Document */

body{
	margin:0px;	
	background:url('/images/framework/body-bg.jpg') top left repeat-x ;
	font-family:Arial, Geneva, sans-serif;
}

#header{
	width:100%;
	height:165px;
}

#header .cta{
	color:#FFF;
	margin-bottom: -9px;
    margin-top: -9px;
}
#logo{
	position:absolute;
	top:10px;
}
#success-image{
	margin-top: 20px;
}
#information{
	position:absolute;
	right:10px;
	top:20px;
	text-align:right;
}
#section-1 img{
    padding-top: 10px;
}
#section-2{
	position:absolute;
	top:160px;
	right:35px;
	width:385px;
	height:400px;
	background:url('/images/framework/contact-bg.png') left top no-repeat;
	z-index:50;
}
#section-2 p{
	font-size:14px;
	padding:2px;
}

#form{
	position:absolute;
	left:70px;
	top:45px;
	font-weight:700;
	color:#454545;
}
.form-error{
	color: #AA0000;
    display: none;
    float: right;
    font-size: 10px;
    text-align: right;
    width: 80px;
}
#email-form input{
	font:Verdana, Geneva, sans-serif;
    color:#454545;
	letter-spacing:2px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#email-input{
	letter-spacing:0px !important;
}
#form h2{
	font-size:18px;
}
#send-btn{
	margin-left:-3px;
}
#primary-nav{
    left: 30px;
    position: absolute;
    top: 130px;
}
#primary-nav a{
    padding:15px;
    color:#454545;
    text-decoration:none;
    font-weight:bold;
}
#primary-nav a:hover{
    color:#4672a1;
}
#primary-nav a.current{
    color:#4672a1;
}
#primary-nav a.first{
    padding-left:0px !important;
}
li{
	font-size:12px;
}
#home-icon{
	left: -30px;
    position: absolute;
    top: -5px;
}
#section-3{    
    background:url('/images/framework/content-area-bg.jpg') left top no-repeat;
    margin-top: 18px;
    margin-left: -10px; 
    padding-left: 35px; 
    padding-right: 35px;
    color:#454545;
    height:450px;
}
#section-3 h1{
    font-size:18px;
}
#section-3 h2{
    font-size:16px;
}
#section-3 h3{
    font-size:12px;
	padding:0px;
}
#section-3 p{
    font-size:12px;
}
#content-area{
    width:900px;
}
#content-area p{
    margin:10px;
}
#video-button-home{
	left: 300px;
    position: absolute;
    top: 360px;
}

#video-button-faq{
	left: 230px;
    position: absolute;
    top: 450px;	
}
#video-button-about{
	left: 300px;
    position: absolute;
    top: 280px;	
}
.video-button{
	cursor:pointer;
}
#legal-copy p{
    font-size:10px;
    color:#fff;
}
#video-container{
}
#simplemodal-overlay {
    background-color: #000000;
    cursor: wait;
}
#simplemodal-container {
    background-color: #333333;
    border: 4px solid #fff;
    color: #BBBBBB;
    height: 405px;
    padding: 12px;
    width: 720px;
}
#simplemodal-container a.modalCloseImg {
    background: url("/images/framework/modal-close.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline;
    height: 29px;
    position: absolute;
    right: -16px;
    top: -15px;
    width: 25px;
    z-index: 3200;
}
#faq #section-3 p{
	margin-top:0px !important;
	margin-bottom:4px !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
}
#faq h3{
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
	color:#2e5c8d;
}